<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>


<servlet><servlet-name>studentdis</servlet-name><servlet-class>studentdis</servlet-class></servlet><servlet-mapping><servlet-name>studentdis</servlet-name><url-pattern>/servlet/studentdis</url-pattern></servlet-mapping>

<servlet><servlet-name>allstudentdis</servlet-name><servlet-class>allstudentdis</servlet-class></servlet><servlet-mapping><servlet-name>allstudentdis</servlet-name><url-pattern>/servlet/allstudentdis</url-pattern></servlet-mapping>
<servlet><servlet-name>studentinsert</servlet-name><servlet-class>studentinsert</servlet-class></servlet><servlet-mapping><servlet-name>studentinsert</servlet-name><url-pattern>/servlet/studentinsert</url-pattern></servlet-mapping>
<servlet><servlet-name>upload</servlet-name><servlet-class>upload</servlet-class></servlet><servlet-mapping><servlet-name>upload</servlet-name><url-pattern>/servlet/upload</url-pattern></servlet-mapping>
<servlet><servlet-name>pictureupdate</servlet-name><servlet-class>pictureupdate</servlet-class></servlet><servlet-mapping><servlet-name>pictureupdate</servlet-name><url-pattern>/servlet/pictureupdate</url-pattern></servlet-mapping>
<servlet><servlet-name>dabit</servlet-name><servlet-class>dabit</servlet-class></servlet><servlet-mapping><servlet-name>dabit</servlet-name><url-pattern>/servlet/dabit</url-pattern></servlet-mapping>
<servlet><servlet-name>credit</servlet-name><servlet-class>credit</servlet-class></servlet><servlet-mapping><servlet-name>credit</servlet-name><url-pattern>/servlet/credit</url-pattern></servlet-mapping>
<servlet><servlet-name>devitdis</servlet-name><servlet-class>devitdis</servlet-class></servlet><servlet-mapping><servlet-name>devitdis</servlet-name><url-pattern>/servlet/devitdis</url-pattern></servlet-mapping>
<servlet><servlet-name>creditdis</servlet-name><servlet-class>creditdis</servlet-class></servlet><servlet-mapping><servlet-name>creditdis</servlet-name><url-pattern>/servlet/creditdis</url-pattern></servlet-mapping>

<servlet><servlet-name>chequeinput</servlet-name><servlet-class>chequeinput</servlet-class></servlet><servlet-mapping><servlet-name>chequeinput</servlet-name><url-pattern>/servlet/chequeinput</url-pattern></servlet-mapping>

<servlet><servlet-name>chequedis</servlet-name><servlet-class>chequedis</servlet-class></servlet><servlet-mapping><servlet-name>chequedis</servlet-name><url-pattern>/servlet/chequedis</url-pattern></servlet-mapping>
<servlet><servlet-name>chequesearch</servlet-name><servlet-class>chequesearch</servlet-class></servlet><servlet-mapping><servlet-name>chequesearch</servlet-name><url-pattern>/servlet/chequesearch</url-pattern></servlet-mapping>
<servlet><servlet-name>uploadcheque</servlet-name><servlet-class>uploadcheque</servlet-class></servlet><servlet-mapping><servlet-name>uploadcheque</servlet-name><url-pattern>/servlet/uploadcheque</url-pattern></servlet-mapping>
<servlet><servlet-name>bank</servlet-name><servlet-class>bank</servlet-class></servlet><servlet-mapping><servlet-name>bank</servlet-name><url-pattern>/servlet/bank</url-pattern></servlet-mapping>

<servlet><servlet-name>totalcredit</servlet-name><servlet-class>totalcredit</servlet-class></servlet><servlet-mapping><servlet-name>totalcredit</servlet-name><url-pattern>/servlet/totalcredit</url-pattern></servlet-mapping>



<servlet><servlet-name>totaldebit</servlet-name><servlet-class>totaldebit</servlet-class></servlet><servlet-mapping><servlet-name>totaldebit</servlet-name><url-pattern>/servlet/totaldebit</url-pattern></servlet-mapping>

<servlet><servlet-name>chequeamount</servlet-name><servlet-class>chequeamount</servlet-class></servlet><servlet-mapping><servlet-name>chequeamount</servlet-name><url-pattern>/servlet/chequeamount</url-pattern></servlet-mapping>


<servlet><servlet-name>updatecreditdis</servlet-name><servlet-class>updatecreditdis</servlet-class></servlet><servlet-mapping><servlet-name>updatecreditdis</servlet-name><url-pattern>/servlet/updatecreditdis</url-pattern></servlet-mapping>



<servlet><servlet-name>updatedevitdis</servlet-name><servlet-class>updatedevitdis</servlet-class></servlet><servlet-mapping><servlet-name>updatedevitdis</servlet-name><url-pattern>/servlet/updatedevitdis</url-pattern></servlet-mapping>


<servlet><servlet-name>uploadvoucher</servlet-name><servlet-class>uploadvoucher</servlet-class></servlet><servlet-mapping><servlet-name>uploadvoucher</servlet-name><url-pattern>/servlet/uploadvoucher</url-pattern></servlet-mapping>


<servlet><servlet-name>clickvoucher</servlet-name><servlet-class>clickvoucher</servlet-class></servlet><servlet-mapping><servlet-name>clickvoucher</servlet-name><url-pattern>/servlet/clickvoucher</url-pattern></servlet-mapping>


<servlet><servlet-name>batchstudent</servlet-name><servlet-class>batchstudent</servlet-class></servlet><servlet-mapping><servlet-name>batchstudent</servlet-name><url-pattern>/servlet/batchstudent</url-pattern></servlet-mapping>

<servlet><servlet-name>psw</servlet-name><servlet-class>psw</servlet-class></servlet><servlet-mapping><servlet-name>psw</servlet-name><url-pattern>/servlet/psw</url-pattern></servlet-mapping>

<servlet><servlet-name>month_display</servlet-name><servlet-class>month_display</servlet-class></servlet><servlet-mapping><servlet-name>month_display</servlet-name><url-pattern>/servlet/month_display</url-pattern></servlet-mapping>
<servlet><servlet-name>e808dis</servlet-name><servlet-class>e808dis</servlet-class></servlet><servlet-mapping><servlet-name>e808dis</servlet-name><url-pattern>/servlet/e808dis</url-pattern></servlet-mapping>

<servlet><servlet-name>insert_account_a</servlet-name><servlet-class>insert_account_a</servlet-class></servlet><servlet-mapping><servlet-name>insert_account_a</servlet-name><url-pattern>/servlet/insert_account_a</url-pattern></servlet-mapping>
<servlet><servlet-name>insert_bank</servlet-name><servlet-class>insert_bank</servlet-class></servlet><servlet-mapping><servlet-name>insert_bank</servlet-name><url-pattern>/servlet/insert_bank</url-pattern></servlet-mapping>

<servlet><servlet-name>showposted</servlet-name><servlet-class>showposted</servlet-class></servlet><servlet-mapping><servlet-name>showposted</servlet-name><url-pattern>/servlet/showposted</url-pattern></servlet-mapping>

<servlet><servlet-name>stupsw</servlet-name><servlet-class>stupsw</servlet-class></servlet><servlet-mapping><servlet-name>stupsw</servlet-name><url-pattern>/servlet/stupsw</url-pattern></servlet-mapping>
<servlet><servlet-name>studentpaidinsert</servlet-name><servlet-class>studentpaidinsert</servlet-class></servlet><servlet-mapping><servlet-name>studentpaidinsert</servlet-name><url-pattern>/servlet/studentpaidinsert</url-pattern></servlet-mapping>

<servlet><servlet-name>studentpaiddis</servlet-name><servlet-class>studentpaiddis</servlet-class></servlet><servlet-mapping><servlet-name>studentpaiddis</servlet-name><url-pattern>/servlet/studentpaiddis</url-pattern></servlet-mapping>
<servlet><servlet-name>batch_student</servlet-name><servlet-class>batch_student</servlet-class></servlet><servlet-mapping><servlet-name>batch_student</servlet-name><url-pattern>/servlet/batch_student</url-pattern></servlet-mapping>
<servlet><servlet-name>totalbalance</servlet-name><servlet-class>totalbalance</servlet-class></servlet><servlet-mapping><servlet-name>totalbalance</servlet-name><url-pattern>/servlet/totalbalance</url-pattern></servlet-mapping>

<servlet><servlet-name>total_stu_credit</servlet-name><servlet-class>total_stu_credit</servlet-class></servlet><servlet-mapping><servlet-name>total_stu_credit</servlet-name><url-pattern>/servlet/total_stu_credit</url-pattern></servlet-mapping>

<servlet><servlet-name>image_update</servlet-name><servlet-class>image_update</servlet-class></servlet><servlet-mapping><servlet-name>image_update</servlet-name><url-pattern>/servlet/image_update</url-pattern></servlet-mapping>

<servlet><servlet-name>semesterdis</servlet-name><servlet-class>semesterdis</servlet-class></servlet><servlet-mapping><servlet-name>semesterdis</servlet-name><url-pattern>/servlet/semesterdis</url-pattern></servlet-mapping>


<servlet><servlet-name>check_studentpaiddis</servlet-name><servlet-class>check_studentpaiddis</servlet-class></servlet><servlet-mapping><servlet-name>check_studentpaiddis</servlet-name><url-pattern>/servlet/check_studentpaiddis</url-pattern></servlet-mapping>

<servlet><servlet-name>studentcourseinsert</servlet-name><servlet-class>studentcourseinsert</servlet-class></servlet><servlet-mapping><servlet-name>studentcourseinsert</servlet-name><url-pattern>/servlet/studentcourseinsert</url-pattern></servlet-mapping>

<servlet><servlet-name>studentcourse</servlet-name><servlet-class>studentcourse</servlet-class></servlet><servlet-mapping><servlet-name>studentcourse</servlet-name><url-pattern>/servlet/studentcourse</url-pattern></servlet-mapping>

<servlet><servlet-name>admitcard</servlet-name><servlet-class>admitcard</servlet-class></servlet><servlet-mapping><servlet-name>admitcard</servlet-name><url-pattern>/servlet/admitcard</url-pattern></servlet-mapping>

<servlet><servlet-name>admitcard_2</servlet-name><servlet-class>admitcard_2</servlet-class></servlet><servlet-mapping><servlet-name>admitcard_2</servlet-name><url-pattern>/servlet/admitcard_2</url-pattern></servlet-mapping>


<servlet><servlet-name>windows</servlet-name><servlet-class>windows</servlet-class></servlet><servlet-mapping><servlet-name>windows</servlet-name><url-pattern>/servlet/windows</url-pattern></servlet-mapping>

<servlet><servlet-name>studentpaiddis_update</servlet-name><servlet-class>studentpaiddis_update</servlet-class></servlet><servlet-mapping><servlet-name>studentpaiddis_update</servlet-name><url-pattern>/servlet/studentpaiddis_update</url-pattern></servlet-mapping>

<servlet><servlet-name>studentpaiddis_update_submit</servlet-name><servlet-class>studentpaiddis_update_submit</servlet-class></servlet><servlet-mapping><servlet-name>studentpaiddis_update_submit</servlet-name><url-pattern>/servlet/studentpaiddis_update_submit</url-pattern></servlet-mapping>

<servlet><servlet-name>payment_status</servlet-name><servlet-class>payment_status</servlet-class></servlet><servlet-mapping><servlet-name>payment_status</servlet-name><url-pattern>/servlet/payment_status</url-pattern></servlet-mapping>

<servlet><servlet-name>course_update_submit</servlet-name><servlet-class>course_update_submit</servlet-class></servlet><servlet-mapping><servlet-name>course_update_submit</servlet-name><url-pattern>/servlet/course_update_submit</url-pattern></servlet-mapping>

<servlet><servlet-name>studentpaiddis_del_update</servlet-name><servlet-class>studentpaiddis_del_update</servlet-class></servlet><servlet-mapping><servlet-name>studentpaiddis_del_update</servlet-name><url-pattern>/servlet/studentpaiddis_del_update</url-pattern></servlet-mapping>

<servlet><servlet-name>delayupdate</servlet-name><servlet-class>delayupdate</servlet-class></servlet><servlet-mapping><servlet-name>delayupdate</servlet-name><url-pattern>/servlet/delayupdate</url-pattern></servlet-mapping>


<servlet><servlet-name>delet_delay</servlet-name><servlet-class>delet_delay</servlet-class></servlet><servlet-mapping><servlet-name>delet_delay</servlet-name><url-pattern>/servlet/delet_delay</url-pattern></servlet-mapping>
<servlet><servlet-name>student_thesis_insert</servlet-name><servlet-class>student_thesis_insert</servlet-class></servlet><servlet-mapping><servlet-name>student_thesis_insert</servlet-name><url-pattern>/servlet/student_thesis_insert</url-pattern></servlet-mapping>
<servlet><servlet-name>thesis_display</servlet-name><servlet-class>thesis_display</servlet-class></servlet><servlet-mapping><servlet-name>thesis_display</servlet-name><url-pattern>/servlet/thesis_display</url-pattern></servlet-mapping>
<servlet><servlet-name>pkg</servlet-name><servlet-class>pkg</servlet-class></servlet><servlet-mapping><servlet-name>pkg</servlet-name><url-pattern>/servlet/pkg</url-pattern></servlet-mapping>


<servlet><servlet-name>update_pkg</servlet-name><servlet-class>update_pkg</servlet-class></servlet><servlet-mapping><servlet-name>update_pkg</servlet-name><url-pattern>/servlet/update_pkg</url-pattern></servlet-mapping>

<servlet><servlet-name>remote_pkg</servlet-name><servlet-class>remote_pkg</servlet-class></servlet><servlet-mapping><servlet-name>remote_pkg</servlet-name><url-pattern>/servlet/remote_pkg</url-pattern></servlet-mapping>

<servlet><servlet-name>del_pkg</servlet-name><servlet-class>del_pkg</servlet-class></servlet><servlet-mapping><servlet-name>del_pkg</servlet-name><url-pattern>/servlet/del_pkg</url-pattern></servlet-mapping>


</web-app>
